@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: #333333;
  width: 110%;
  height: 100%;
  /* margin: auto; */
  margin: -50px -30px 0 -30px;
}
.wrapper {
  font-family: Poppins, sans-serif;
  color: white;
  margin: 2rem;
  padding: 4rem 0 10rem 0;
  & h1 {
    text-decoration: underline;
    text-decoration-color: aquamarine;
    padding-bottom: 2.5rem;
    border-bottom: none;
  }
  & .window {
    padding: 1.5rem 0;
  }
}

.center {
  margin: auto;
  width: 85%;
  /* border: 3px solid green; */
}
.nowrap {
  white-space: nowrap;
}
.overflow {
  white-space: nowrap;
  overflow: hidden;
}
.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
