@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}
ul {
  list-style-type: none;
  padding-bottom: 2%;
}
.container {
  background-color: white;
  width: 100%;
  height: 100%;
  /* margin: -50px -30px 0 -30px; */
}
.wrapper {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.main-heading {
  background-color: #ae1a0e;
  color: #fdf706;
  border-bottom: 3px solid #660704;
}
.secondary {
  background-color: #980000;
  color: white;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #660704;
  list-style-image: none;
  padding: 3%;
}
.primary {
  background-color: #ae1a0e;
  color: white;
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid #660704;
  list-style-image: none;
  padding: 3%;
}
.sub-heading {
  display: flex;
  align-items: center;
  padding-bottom: 3%;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #f04243;
  margin-right: 4%;
}
